In [1]:
# Loading Pandas lib to perform Data Analysis on Courses CSV
import pandas as pd

df = pd.read_csv('./datasets/tech-courses.csv')

In [2]:
# Checking table head
df.head()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
1200,1227578.0,Learning Path: The Road to Elasticsearch,https://www.udemy.com/learning-path-the-road-t...,200.0,50.0,5.0,60.0,Beginner Level,0.96,5.0,2017-05-29T17:56:24Z,Subject: Web Development
1201,1277924.0,Angular 4 Front To Back,https://www.udemy.com/angular-4-front-to-back/,40.0,44.0,0.0,68.0,All Levels,0.15,8.5,2017-07-06T15:04:55Z,Subject: Web Development
1202,1248172.0,Essentials of Spring 5.0 for Developers,https://www.udemy.com/essentials-of-spring-50-...,125.0,34.0,2.0,21.0,Beginner Level,0.46,1.5,2017-06-11T18:34:40Z,Subject: Web Development
1203,1250934.0,Display and analyze GIS data on the web with L...,https://www.udemy.com/display-and-analyze-gis-...,100.0,25.0,4.0,66.0,Beginner Level,0.67,12.5,2017-06-15T21:17:43Z,Subject: Web Development
1204,1270222.0,Learning Path: Web Applications with Spring an...,https://www.udemy.com/learning-path-web-applic...,200.0,19.0,2.0,33.0,Beginner Level,0.12,4.0,2017-06-28T21:04:21Z,Subject: Web Development

In [3]:
# Checking table Columns info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            1203 non-null   float64
 1   course_title         1203 non-null   object
 2   url                  1203 non-null   object
 3   price                1203 non-null   float64
 4   num_subscribers      1203 non-null   float64
 5   num_reviews          1203 non-null   float64
 6   num_lectures         1203 non-null   float64
 7   level                1203 non-null   object
 8   Rating               1203 non-null   float64
 9   content_duration     1203 non-null   float64
 10  published_timestamp  1203 non-null   object
 11  subject              1204 non-null   object
dtypes: float64(7), object(5)
memory usage: 113.1+ KB

In [4]:
# Checking statistics for all non-object values
df.describe()

,course_id,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration
count,1.203000e+03,1203.000000,1203.000000,1203.000000,1203.000000,1203.000000,1203.000000
mean,7.068747e+05,77.036575,6635.024938,357.355777,52.767249,0.643051,5.586658
std,3.287600e+05,66.145420,14559.419007,1572.917685,62.762267,0.306004,7.242855
min,8.324000e+03,0.000000,19.000000,0.000000,5.000000,0.000000,0.500000
25%,4.750150e+05,20.000000,1128.500000,25.000000,19.000000,0.340000,1.500000
50%,7.383600e+05,50.000000,2430.000000,65.000000,32.000000,0.760000,3.000000
75%,9.754830e+05,115.000000,6947.500000,179.000000,63.500000,0.920000,6.500000
max,1.277924e+06,200.000000,268923.000000,27445.000000,779.000000,1.000000,76.500000

In [12]:
# Getting Subject column to verify it's values
df.groupby('subject').value_counts()

subject                   course_id  course_title                                                  url                                                                              price  num_subscribers  num_reviews  num_lectures  level           Rating  content_duration  published_timestamp
Subject: Web Development  8324.0     Javascript for Beginners                                      https://www.udemy.com/beginning-javascript/                                      20.0   3697.0           195.0        48.0          All Levels      0.11    3.0               2011-07-09T05:43:31Z    1
                          912996.0   The Bubble Course - Create Complete Web Apps without Coding   https://www.udemy.com/bubble-course/                                             30.0   3960.0           220.0        47.0          Beginner Level  0.92    4.5               2016-07-24T18:04:32Z    1
                          911712.0   Wordpress Site Migration                                      https://www.udemy.com/wordpress-site-migration-tutorial/                         20.0   1894.0           40.0         35.0          Beginner Level  0.14    1.5               2016-07-28T02:38:31Z    1
                          911474.0   Complete Wordpress Theme Development Course                   https://www.udemy.com/complete-wordpress-theme-development-course/               150.0  1050.0           223.0        64.0          Beginner Level  0.16    6.5               2016-07-23T20:07:17Z    1
                          911318.0   Master ECMAScript 2015 (ES6)                                  https://www.udemy.com/ecmascript2015/                                            0.0    7438.0           441.0        37.0          All Levels      0.78    2.5               2016-11-28T22:10:27Z    1
                                                                                                                                                                                                                                                                                                        ..
                          568524.0   WordPress Plugins Treasure Chest                              https://www.udemy.com/best-wordpress-plugins-treasure-chest/                     25.0   1655.0           10.0         44.0          All Levels      0.50    3.0               2015-08-06T21:01:21Z    1
                          566920.0   WordPress for Beginners - Tutorial - From Novice to Know-How  https://www.udemy.com/wordpress-for-beginners-tutorial-from-novice-to-know-how/  20.0   3694.0           48.0         39.0          Beginner Level  0.11    4.0               2015-08-28T19:41:50Z    1
                          566910.0   How to Launch Your Own Website Builder Service                https://www.udemy.com/how-to-launch-your-own-website-builder-service/            20.0   9028.0           87.0         12.0          All Levels      0.78    1.5               2015-07-28T20:20:59Z    1
                          566248.0   jQuery Fundamentals Powerful Bootcamp for beginners           https://www.udemy.com/jquery-fundamentals-bootcamp-learn-how-to-use-jquery/      150.0  13882.0          63.0         47.0          Beginner Level  0.74    3.0               2015-08-04T18:54:44Z    1
                          1277924.0  Angular 4 Front To Back                                       https://www.udemy.com/angular-4-front-to-back/                                   40.0   44.0             0.0          68.0          All Levels      0.15    8.5               2017-07-06T15:04:55Z    1
Name: count, Length: 1203, dtype: int64

In [14]:
# Okay, all this data is under Web Development subject, so this column is not useful at all
# Let's remove it
df.drop('subject', axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            1203 non-null   float64
 1   course_title         1203 non-null   object
 2   url                  1203 non-null   object
 3   price                1203 non-null   float64
 4   num_subscribers      1203 non-null   float64
 5   num_reviews          1203 non-null   float64
 6   num_lectures         1203 non-null   float64
 7   level                1203 non-null   object
 8   Rating               1203 non-null   float64
 9   content_duration     1203 non-null   float64
 10  published_timestamp  1203 non-null   object
dtypes: float64(7), object(4)
memory usage: 103.7+ KB

In [15]:
# Let's keep dropping tables to make our DataSet simple
# We will only need:
# - Course Title
# - Course URL
# - Course Price
# - Num Subscribers
# - Rating
# - Level
# - Content Duration
# - Published Timestamp
df.drop(['course_id', 'num_reviews', 'num_lectures'], axis=1, inplace=True)

In [16]:
# Checking our DF now
df.head()

,course_title,url,price,num_subscribers,level,Rating,content_duration,published_timestamp
0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z
1,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z
2,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z
3,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,All Levels,0.78,3.0,2014-04-08T16:21:30Z
4,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,Beginner Level,0.55,30.5,2016-03-08T22:28:36Z

In [ ]:
# Great, now let's our algorithm using this clean DataSet!
df.to_csv('./datasets/tech-courses-modified.csv')